.card-one-line {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-one-line > div {
  display: flex;
  align-items: center;
}
.card-one-line img {
  width: 25px;
  height: auto;
}
.card-one-line span {
  color: #64626f;
  margin-left: 10px;
}
