.data-trip {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c8c7cb;
  padding: 24px;
}
