.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid #6c56cc;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  font-family: 'Muli', sans-serif;
  width: 100%;
}
