.container__menu-account-profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__menu-account-profileImg img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.container__history {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #c8c7cb;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__history-trip {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.container__history-trip h2 {
  margin-bottom: 40px;
}
.container__history_list-trip {
  max-height: 500px;
  overflow: auto;
  padding: 16px;
  box-sizing: border-box;
}
.container__history-map {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.map__account {
  height: 100%;
}
